asgiref
crispy-bootstrap5
Django
django-crispy-forms
django-environ
django-filter
djangorestframework
EasyProcess
entrypoint2
humanize
Markdown
MouseInfo
mss
Pillow
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
pytweening
pytz
sqlparse
tzdata
