{% for post in posts %}
  <div class="post">
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    {% if post.image %}
      <img class="w-20 h-20" src="{{ post.image.url }}" alt="{{ post.title }}">
    {% endif %}
    <!-- Add edit and delete buttons -->
    <a href="{% url 'edit_post' post.id %}">Edit</a>
    <a href="{% url 'delete_post' post.id %}">Delete</a>
    <!-- Display comments for this post -->
    <h3>Comments:</h3>
    {% for comment in comments %}
      {% if comment.post == post %}
        <p>{{ comment.user.username }}: {{ comment.text }}</p>
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}
