{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container w-1/2 mx-auto my-10 p-8 bg-white rounded-lg shadow-md">
    <h1 class="text-3xl font-semibold text-gray-800 mb-6 text-center">My Profile</h1>

    <div class="flex items-center justify-center mb-8">
      <img
        src="{% if user.profile.image %}{{ user.profile.image.url }}{% else %}{% static '../static/profile.jpg' %}{% endif %}"
        alt="Profile Image"
        class="w-32 h-32 rounded-full border-4 border-blue-500"
      >
    </div>

    <div class="flex flex-col items-center justify-center mb-4">
      <h2 class="text-lg font-medium text-gray-800">User Information</h2>
      <p class="mt-2 text-sm text-gray-600">Name: {% if user.first_name and user.last_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username }}{% endif %}</p>
      <p class="text-sm text-gray-600">Username: {{ user.username }}</p>
      <!-- Add other user information here -->
    </div>

    <div class="flex flex-col items-center justify-cente  mb-6">
      <h2 class="text-lg font-medium text-gray-800">Actions</h2>
      <a href="{% url 'changePassword' %}" class="block mt-2 text-blue-500 hover:underline">Change Password</a>
      <a href="{% url 'changePassword2' %}" class="block mt-2 text-blue-500 hover:underline">Forgot Password</a>
      <a href="{% url 'update_profile' %}" class="block mt-2 text-blue-500 hover:underline">Update Information</a>
    </div>
  </div>
{% endblock %}
