<footer class="bg-gray-900 h-36">
  <div class="mx-auto max-w-screen-xl px-4 py-4 flex flex-col lg:flex-row lg:justify-between lg:items-center">
    <div class="lg:w-1/2">
      <div class="flex items-center justify-center text-teal-600 lg:justify-start">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-2 font-bold text-xl text-white">SocioHub</span>
      </div>

      <p class="mx-auto mt-2 text-center text-white lg:text-left lg:mt-0 font-semibold">
        SocioHub is a social media platform that connects individuals and communities. With SocioHub, you can share moments, exchange ideas, and stay updated with the world around you. Join us and be part of a growing global community.
      </p>
    </div>

    <p class="mt-4 lg:mt-0 text-center text-sm text-white lg:text-right font-semibold lg:w-1/2">
      © {% now "Y" %} Copyright SocioHub by Semon
    </p>
  </div>
</footer>
