{% extends 'base.html' %}
{% load static %} 

{% block head_title %}SocioHub-Home{% endblock %} 

{% block content %}

<section class="text-gray-600 body-font relative m-4">
    <img class="w-full h-64 object-cover object-center" src="{% static '../static/cover.jpg' %}" alt="Cover Image">
    <!-- <div class="absolute inset-0 bg-gray-900 bg-opacity-50"> -->
    <div class="absolute inset-0 ">
        <div class="container px-5 py-24 mx-auto flex">
            <div class="lg:w-1/2 md:w-2/3 mx-auto">
                <div class="text-center">
                    <h1 class="text-teal-500 text-5xl font-bold">SocioHub</h1>
                    <p class="text-teal-500 text-xl">Share your thoughts with others</p>
                </div>
            </div>
        </div>

    </div>
</section>


<section class="text-gray-600 body-font">
  <h2 class="text-3xl font-bold text-center">Top Posts</h2>
    <div class="container px-5 py-12 mx-auto">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        {% for post in posts %}
          <div class="max-w-md mx-auto bg-white rounded-xl overflow-hidden shadow-md">
            <img class="w-full h-48 object-cover object-center" src="{{ post.image.url }}" alt="{{ post.title }}">
            <div class="p-6">
              <h1 class="text-xl font-medium text-gray-900 mb-2">{{ post.author }}</h1>
              <p class="text-base text-gray-600 mb-4">{{ post.content }}</p>
  
              <div class="flex items-center justify-between space-x-4">
                <a href="{% url 'post_details' post.id %}" class="text-indigo-500 inline-flex items-center">
                  Details
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
  
                <div class="flex items-center space-x-2">
                  <form method="post" action="{% url 'like_post' post.id %}">
                    {% csrf_token %}
                    <button type="submit" name="action" value="{% if request.user in post.likes.all %}unlike{% else %}like{% endif %}" class="flex items-center text-gray-500">
                      {% if request.user in post.likes.all %}
                      <svg class="w-4 h-4 fill-current text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"></path>
                      </svg>
                      {% else %}
                        <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                          <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"></path>
                        </svg>
                      {% endif %}
                      <span class="ml-1">{{ post.likes.count }}</span>
                    </button>
                  </form>
    
                  <a href="{% url 'post_details' post.id %}"  class="text-gray-500 flex items-center">
                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                      <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                    </svg>
                    {{ post.comments.count }}
                  </a>
                </div>

              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

{% endblock %}
