{% load static %}
<div class="swiffy-slider slider-item-show4 slider-nav-outside slider-nav-dark slider-nav-xl slider-nav-visible slider-nav-page slider-item-snapstart slider-nav-autoplay slider-nav-autopause slider-item-ratio slider-item-ratio-contain slider-item-ratio-32x9 bg-white shadow-lg py-3 py-lg-4" data-slider-nav-autoplay-interval="2000" style="height: 224px;">
    <div class="slider-container">
        {% for news_item in latest_news_data %}
            <div>
                <div class="bg-teal-400 rounded-lg p-4 mb-4">
                    <h4 class="text-lg font-semibold mb-2">{{ news_item.title }}</h4>
                    <p class="text-gray-700">{{ news_item.news }}</p>
                    <p class="text-sm text-black mt-2">Posted by {{ news_item.user }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <button type="button" class="slider-nav" aria-label="Go left"></button>
    <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
</div>
