{% load static %}
<div class="swiffy-slider slider-item-show4 slider-nav-outside slider-nav-dark slider-nav-sm slider-nav-visible slider-nav-page slider-item-snapstart slider-nav-autoplay slider-nav-autopause slider-item-ratio slider-item-ratio-contain slider-item-ratio-32x9 bg-white shadow-lg py-3 py-lg-4" data-slider-nav-autoplay-interval="2000">
    <div class="slider-container">
        <div><img src="../assets/img/brandlogos/css-3.svg" alt="..."></div>
        <div><img src="../assets/img/brandlogos/DWLogoColor_sm.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/javascript-1.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/bootstrap-5.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/eslint-1.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/github-2.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/html-1.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/svelte-wordmark-1.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/next-js.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/webpack-icon.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/react-2.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/star-wars-4.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/vue-9.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/meteor-5.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/nuxt-2.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/nodejs-1.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/prettier-2.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/angular-icon-1.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/github-icon.svg" loading="lazy" alt="..."></div>
    </div>

    <button type="button" class="slider-nav" aria-label="Go left"></button>
    <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>

</div>