<nav class="bg-teal-200 text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <div class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <a class="flex items-center font-medium text-gray-900 mb-4 md:mb-0 mr-3" href="{% url 'home' %}">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-3xl">SocioHub</span>
      </a>
      {% if user.is_authenticated %}
        <a href="{% url 'home' %}" class="mr-4 text-black font-medium ">Home</a>
        <a href="{% url 'my_posts' %}" class="mr-4 text-black font-medium ">My Posts</a>
        <a href="{% url 'add_post' %}" class="mr-4 text-black font-medium ">Add Post</a>
        <a href="{% url 'profile' %}" class="mr-4 text-black font-medium ">My Profile</a>
        <a href="{% url 'logout' %}" class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Logout</a>
      {% else %}
        <a href="{% url 'home' %}" class="mr-4 text-black font-medium ">Home</a>
        <a href="{% url 'signup' %}" class="mr-4 text-black font-medium ">Sign Up</a>
        <a href="{% url 'login' %}" class="text-black inline-flex items-center bg-gray-300 border-0 py-1 px-3 focus:outline-none hover:bg-gray-500 rounded text-black mt-4 md:mt-0">Login</a>
      {% endif %}
    </div>
  </div>
</nav>
