{% load static %} 
<div class="lg:container my-4 swiffy-slider slider-item-show3 slider-nav-round slider-nav-page">
    <ul class="slider-container">
        <li>
            <div class="card border-0">
                <div class="ratio ratio-1x1">
                    <img src="{% static '../static/leaf.jpg' %}" class="card-img-top mx-auto" loading="lazy" alt="...">
                </div>
                <div class="card-body px-12 p-2">
                    <div class="d-flex ">
                        <h3 class="flex-grow-1 h5">into the woods</h3>
                        <p class="font-semibold">- Musa</p>
                    </div>
                    
                </div>
            </div>
        </li>
        <li>
            <div class="card border-0">
                <div class="ratio ratio-1x1">
                    <img src="{% static '../static/hand.jpg' %}" class="card-img-top mx-auto" loading="lazy" alt="...">
                </div>
                <div class="card-body px-12 p-2">
                    <div class="d-flex ">
                        <h3 class="flex-grow-1 h5">jumping on the sky</h3>
                        <p class="font-semibold">- Martin</p>
                    </div>
                    
                </div>
            </div>
        </li>
        <li>
            <div class="card border-0">
                <div class="ratio ratio-1x1">
                    <img src="{% static '../static/flower.jpg' %}" class="card-img-top mx-auto"  loading="lazy" alt="...">
                </div>
                <div class="card-body px-12 p-2">
                    <div class="d-flex ">
                        <h3 class="flex-grow-1 h5">fragrance overload</h3>
                        <p class="font-semibold">- Semon</p>
                    </div>
                    
                </div>
            </div>
        </li>
        <li>
            <div class="card border-0">
                <div class="ratio ratio-1x1">
                    <img src="{% static '../static/paradise.jpg' %}" class="card-img-top mx-auto" loading="lazy" alt="...">
                </div>
                <div class="card-body px-12 p-2">
                    <div class="d-flex ">
                        <h3 class="flex-grow-1 h5">heaven in the clouds</h3>
                        <p class="font-semibold">- Abdul</p>
                    </div>
    
                </div>
            </div>
        </li>
    </ul>

    <button type="button" class="slider-nav outline-none" aria-label="Go left"></button>
    <button type="button" class="slider-nav slider-nav-next outline-none" aria-label="Go left"></button>
</div>